/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header nav {
  background-color: #004aad;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 10px;
  color: #2f3640;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #f5f6fa;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #00a8ff;
  text-decoration: none;
}

#nav-back {
  color: #a7a7a7;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

#nav-back:hover {
  color: #00a8ff;
  text-decoration: none;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* main */
main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

main h2 {
  color: #004aad;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

article p,
article ul {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

article ul {
  margin-left: 20px;
}

footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
